/Talk.tex
/array_allocate
/array_allocate_dats.c
/ecss0400.log
/factorial
/factorial_dats.c
/list
/list_dats.c
/missfont.log
/safe_swap
/safe_swap.dats
/safe_swap_dats.c
/stream
/stream_dats.c
/swap_from_ats
/swap_from_ats.dats
/swap_from_ats_dats.c
/unsafe_swap
/unsafe_swap_dats.c
/possible_bug
/possible_bug_dats.c
/*.c
/factorial_array
/factorial_list
/for_loop
